@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html,body {
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	background:url('b3.jpg')no-repeat
}

.intro {
	height:100%;
	width: 100%;
	margin: auto;
	display: table;
	top:0;
}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 28%;

}

.content h1 {
	font-family:'Yantramanav' , sans-serif;
	font-size:600%;
	font-weight: 100;
	color:#FF8C00;
	line-height: 100%;
}

.button {
	font-family:'Montserrat'; , sans-serif;
	font-size:135%;
	font-weight:400;
	color:#3A6168;
	text-transform: uppercase;
	text-decoration: none;
	border: solid #3A6168;
	padding: 10px 10px;
	border-radius: 9px;
	transition: all 0.5s;
}

.button:hover {
	color: #FF8C00;
	border: solid; #FF8C006 2px;
}


p{
	font-size:96%;
	line-height: 120%;
	font-family: sans-serif;
	text-align: center;
}






/*--- Media Queries --*/
@media screen and (max-width: 900px) {
	.content {
		padding-bottom: 30%;
	}
	.content h1 {
		font-size: 450%;
	}

	.button {
		font-size: 130%;
		padding: 9px 17px;
	}

}
@media screen and (max-width: 768px) {
	.content {
		padding-bottom:40%;
	}
	.content h1 {
		font-size: 300%;
	}

	.button {
		font-size: 110%;
		padding: 9px 17px;
	}

	p {
		font-size: 120%;
		line-height: 100%;
	}

}
@media screen and (max-width: 480px) {
	.content {
		padding-bottom: 50%;
	}
	.content h1 {
		font-size: 250%;
	}

	.button {
		font-size: 110%;
		padding: 6px 14px;
	}

	p {
		font-size: 100%;
		line-height: 100%;
	}

	
}